<h1>Random Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @r_min %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @r_max %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @r_result %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
