<!-- /views/square_root_new.erb -->

<!DOCTYPE html>
<html>
<head>
    <title>Square Root</title>
</head>
<body>
    <form action="/square_root/results" method="get">
        <div>
            <label for="number">Enter a number</label>
        </div>
        <div>
            <input type="text" id="number" name="number" placeholder="What number do you want to take the square root of?">
        </div>
        <input type="submit" value="Calculate square root">
    </form>
</body>
</html>
